
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Apache2 Debian Default Page: It works</title>

    <style type="text/css">
        body {
            background-color: #fff;
            color: #000;
            width: 800px;
            margin: 0 auto;
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }

        div#page {
            margin-top: 50px;
        }

        div#header {
            background-color: #0b253a;
            color: #fff;
            padding: 20px;
        }

        h1 {
            margin: 0;
        }

        h2 {
            color: #0b253a;
        }

        p, li {
            line-height: 1.6em;
        }

        a {
            color: #007dc1;
            text-decoration: none;
        }
    </style>
</head>

<body>
<div id="page">
    <div id="header">
        <h1>Apache2 Debian Default Page</h1>
        <p>This is the default welcome page used to test the correct 
        operation of the Apache2 server after installation on Debian systems.</p>
    </div>

    <h2>It works!</h2>

    <p>This is the default web page for this server. The web server software 
    is running but no content has been added yet.</p>

    <h2>Configuration Overview</h2>

    <p>If you can read this page, it means that the Apache HTTP server 
    installed at this site is working properly. You should replace this file 
    (located at <tt>/var/www/html/index.html</tt>) before continuing to 
    operate your HTTP server.</p>

    <p>If you are a normal user of this web site and don't know what this page 
    is about, this probably means that the site is currently undergoing 
    maintenance. If the problem persists, please contact the site's 
    administrator.</p>

    <h2>Debian Related Information</h2>

    <p>The configuration layout for an Apache2 web server installation on 
    Debian systems is as follows:</p>

    <pre>
/etc/apache2/
|-- apache2.conf
|       `--  ports.conf
|-- mods-enabled
|       |-- *.load
|       `-- *.conf
|-- conf-enabled
|       `-- *.conf
|-- sites-enabled
        `-- *.conf
    </pre>

    <p>The binary is called <tt>apache2</tt>. The configuration layout is 
    different from upstream, where the binary is called <tt>httpd</tt> 
    and each configuration option is placed in a single file.</p>

    <h2>Document Roots</h2>

    <p>By default, Debian does not allow access through the web browser to any 
    file apart from those located in <tt>/var/www</tt>, public_html directories, 
    and <tt>/usr/share</tt> (for web applications). If your site is using a 
    web document root located elsewhere (such as in <tt>/srv</tt>) you may need 
    to whitelist your document root directory in <tt>/etc/apache2/apache2.conf</tt>.</p>

    <p>The default Debian document root is <tt>/var/www/html</tt>. You can make 
    your own virtual hosts under <tt>/var/www</tt>. This is different to previous 
    releases which provided support for general-purpose user web directories.</p>

    <h2>Reporting Problems</h2>

    <p>Please use the <tt>reportbug</tt> tool to report bugs in the Apache2 
    package with Debian. However, check <a href="http://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=apache2" target="_blank">the existing bug reports</a> before reporting a new bug.</p>

    <p>Please report bugs specific to modules (such as PHP and others) to 
    their respective packages.</p>

</div>
</body>
</html>
